/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f7e0c7;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 32px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}

.hero {
    background-image: url('pasteles.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.btn {
    background-color: #ff5757;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background-color: #e44a4a;
}

.productos {
    padding: 40px;
    text-align: center;
}

.producto {
    display: inline-block;
    margin: 20px;
}

.producto img {
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Estilos de pie de página */
footer {
    background-color: #f7e0c7;
    text-align: center;
    padding: 10px 0;
}
